.project-section {
    background-color: var(--primary-white-color);
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/* .project-div-main .project-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project-div a {
    padding: 6rem 2rem;
    background-color: var(--primary-black-color);
    border-radius: 10px;
    color: var(--primary-white-color);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-45deg, #6e07f3, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
    background-size: 400% 400%;
    margin: 0 3rem;
}

/* .project-div a img {
    width: 180px;
} 

.project-div a h1 {
    font-size: 1.5rem;
} */

.project-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    background: linear-gradient(-45deg, #6d02f8, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
    background-size: 400% 400%;
    animation: gradient 5s infinite;
    box-shadow: rgba(100, 100, 111, 0.351) 0px 7px 29px 0px;
    border-radius: 9px;
    padding: 2rem;
    display: flex;
    height: 180px;
    width: 350px;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    margin: 0.5rem;
}

.project:hover {
    transform: scale(1.03);
}

.project img {
    width: 120px;
}

.project h1 {
    color: var(--primary-white-color);
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.project h2 {
    color: var(--primary-white-color);
    font-size: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.project p {
    color: var(--primary-white-color);
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 768px) {
    /* .project-section {
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .project-div-main .project-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .project-div a {
        width: 100%;
        padding: 4rem 5rem;
        margin: 1rem 0;
    } */
}
