.project-section {
    background-color: var(--primary-white-color);
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.project-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    background: linear-gradient(-45deg, #6d02f8, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
    background-size: 400% 400%;
    box-shadow: rgba(100, 100, 111, 0.351) 0px 7px 29px 0px;
    border-radius: 9px;
    padding: 2rem;
    display: flex;
    height: 200px;
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    margin: 0.5rem;
}

.project:hover {
    transform: scale(1.01);
    animation: gradient 8s;
}

.project h1 {
    color: var(--primary-white-color);
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.project-action-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
}

.project-div-button {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px 30px;
    letter-spacing: 4px;
    border-radius: 6px;
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
}

.project-github {
    text-decoration: none;
    font-size: 2.1rem;
    color: var(--primary-black-color);
}

@media only screen and (max-width: 768px) {
    .project-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .project {
        background: linear-gradient(-45deg, #6d02f8, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
        background-size: 400% 400%;
        box-shadow: rgba(100, 100, 111, 0.351) 0px 7px 29px 0px;
        border-radius: 9px;
        padding: 2rem;
        display: flex;
        height: 180px;
        width: 350px;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem;
    }

    .project:hover {
        transform: none;
    }
}
