.work-section {
    background-color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}

.work-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.work-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 160%; */
}

.work {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 320px;
    height: 430px;
    color: black;
    background-image: url(https://wallpaperaccess.com/full/260164.jpg);
    transition: 0.5s;
}

.work:hover {
    transform: scale(1.02);
}

.circle-icon {
    font-size: 10px;
}

.work a {
    padding: 1.5rem 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
}

.span-head {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-left: 10px;
}

.work a ul {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

.work-title {
    padding: 5rem 0;
    font-size: 3rem;
    line-height: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.work-des {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.work-link {
    color: black;
    font-size: 2rem;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
}

.arrow-icon {
    font-size: 3rem;
    transition: 0.5s ease-in-out;
}

.arrow-icon:hover {
    transform: translateX(20px);
}

.work-link:hover {
    transform: scale(1.1);
    color: rgb(176, 208, 255);
}

.work-one {
    height: 60vh;
    padding: 0 2rem;
    background-size: cover;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0)), url(../../media/images/proImg.png);
}

.work-one:hover {
    transform: scale(1.02);
}

.span-title {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

.icon-go {
    padding-top: 6rem;
    font-size: 4rem;
    transition: 0.8s;
}

.icon-go:hover {
    transform: translateX(20px);
}

@media only screen and (max-width: 884px) {
    .work {
        margin: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        width: 90%;
        height: 330px;
        color: black;
        transition: 0.5s;
    }

    .work-title {
        padding: 3rem 0;
        font-size: 3rem;
        line-height: 30px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
    }
}
