.my-skills {
    padding:5rem 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-white-color);
    color: black;
}

.skill-div-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.skill-div-main .skill-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.skill-div img {
    width: 150px;
    padding: 0 30px;
    border-radius: 45px;
}

.skill-icon {
    font-size: 4.5rem;
    padding: 0 30px;
    color: black;
}

@media only screen and (max-width: 768px) {
    .my-skills {
        padding: 3rem 0;
    }

    .skill-div-main {
        flex-direction: column;
    }

    .skill-div-main .skill-div {
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .skill-div img {
        width: 100px;
        padding: 20px;
        border-radius: 30px;
    }

    .skill-icon {
        font-size: 4rem;
        padding: 20px;
    }
}
