/* .achievements-section {
    padding: 1rem 2rem 2rem 2rem;
    background-color: var(--primary-white-color);
    color: var(--primary-white);
    min-height: 100vh;
}

.achievements-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievements-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.certificate-div {
    text-align: center;
}

.certificate-div img {
    width: 600px;
    padding: 2rem;
    transition: 0.8s;
}

.certificate-div img:hover {
    transform: scale(1.01);
} */

.awards-section {
    min-height: 100vh;
    background-color: var(--primary-white-color);
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awards-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.awards-div {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.award {
    background-color: var(--primary-black-color);
    box-shadow: 10px 11px 13px 0px rgb(0 0 0 / 22%);
    border-radius: 9px;
    padding: 4rem;
    display: flex;
    height: 480px;
    text-decoration: none;
    flex-direction: column;
    border: 5px solid black;
    align-items: center;
    justify-content: space-between;
    transition: 0.8s;
    margin: 1rem;
}

.award:hover {
 transform: scale(1.03);
}

.award img {
    width: 180px;
}

.award h1 {
    color: var(--primary-white-color);
    font-size: 2rem;
    text-align: center;
}

.award p {
    color: var(--primary-white-color);
    font-size: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* .achievements-section {
        padding: 1rem;
    }

    .achievements-div .certificate-div img {
        width: 350px;
    }

    .certificate-head {
        font-size: 1.2rem;
    }

    .certificate-head-two {
        font-size: 0.8rem;
    } */
}
