.awards-section {
    background-color: var(--primary-white-color);
    padding: 0 0 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awards-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.awards-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.award {
    background: linear-gradient(-45deg, #6d02f8, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
    background-size: 400% 400%;
    animation: gradient 5s infinite;
    box-shadow: rgba(100, 100, 111, 0.351) 0px 7px 29px 0px;
    border-radius: 9px;
    padding: 4rem;
    display: flex;
    height: 480px;
    width: 350px;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.8s;
    margin: 1rem;
}

.award:hover {
    transform: scale(1.03);
}

.award img {
    width: 120px;
}

.award h1 {
    color: var(--primary-white-color);
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.award h2 {
    color: var(--primary-white-color);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.award p {
    color: var(--primary-white-color);
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
}

.gallery-section {
    background-color: var(--primary-white-color);
    padding: 6rem;
}

.gallery-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 0;
    flex-wrap: wrap;
}

.gallery-img {
    width: 305px;
    height: 305px;
    background-size: cover;
    background-image: url(../../media/images/prizeTwo.png);
}

.gallery-content {
    padding: 7rem 11.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: linear-gradient(-45deg, #6e07f3, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
    background-size: 400% 400%;
}

.gallery-content p {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
}

.img-three {
    background-image: url(../../media/images/galleryImgOne.png);
}

.img-one {
    background-image: url(../../media/images/prizeThree.png);
}

@media only screen and (max-width: 768px) {
    .awards-section {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .awards-div-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .awards-div {
        width: 90vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .award {
        padding: 2rem;
        display: flex;
        height: 300px;
        width: 100%;
        margin: 0.5rem;
    }

    .award img {
        width: 80px;
    }

    .award h1 {
        font-size: 1.2rem;
    }

    .award h2 {
        font-size: 0.8rem;
    }

    .award p {
        font-size: 1.1rem;
    }

    .gallery-section {
        background-color: var(--primary-white-color);
        padding: 2rem;
    }

    .gallery-div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 8px 0;
        flex-wrap: wrap;
    }

    .gallery-img {
        width: 100%;
        background-size: cover;
        background-image: url(../../media/images/prizeTwo.png);
    }

    .gallery-content {
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-white-color);
        background: linear-gradient(-45deg, #6e07f3, rgb(49, 76, 233), #6f00ff, rgb(52, 81, 243));
        background-size: 400% 400%;
    }

    .gallery-content p {
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        margin: 15px 0;
    }

    .img-three {
        background-image: url(../../media/images/galleryImgOne.png);
    }

    .img-one {
        background-image: url(../../media/images/prizeThree.png);
    }
}
